<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head') -%>
    </head>
    <body>
        <%- include('../partials/nav') -%>

        <div class="container mb-3">
            <h2 class="mb-3">자유게시판</h2>

            <table class="board-table table table-sm border-bottom">
                <thead class="thead-light">
                    <tr>
                        <!-- <th scope="col" class="numId">글번호</th> -->
                        <th scope="col" class="title">제목</th>
                        <!-- <th scope="col" class="views">조회수</th> -->
                        <th scope="col" class="author">글쓴이</th>
                        <th scope="col" class="date">날짜</th>
                    </tr>
                </thead>
                <tbody>
                    <% if(boards == null || boards.length ==0){ %>
                    <tr>
                        <td colspan="2">There is no data to show :(</td>
                    </tr>
                    <% } %> <% boards.forEach(function(board){ %>
                    <tr>
                        <td>
                            <a href="/boards/<%= board._id %>"><div class="ellipsis"><%= board.title %></div></a>
                        </td>
                        <td class="author">
                            <div class="ellippsis"><%= board.author?board.author.nickname:""%></div>
                        </td>

                        <td class="date">
                            <span data-date="<%= board.createdAt %>"></span>
                        </td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>

            <div>
                <% if(isAuthenticated){ %>
                <a class="btn btn-primary" href="/boards/new">글쓰기</a>
                <% } %>
            </div>
        </div>
    </body>
</html>
