<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head') -%>
    </head>
    <body>
        <%- include('../partials/nav') -%>

        <div class="container mb-3">
            <h2 class="mb-3">자유게시판</h2>

            <table class="board-table table table-sm border-bottom">
                <thead class="thead-light">
                    <tr>
                        <!-- <th scope="col" class="numId">글번호</th> -->
                        <th scope="col" class="title">제목</th>
                        <!-- <th scope="col" class="views">조회수</th> -->
                        <th scope="col" class="author">글쓴이</th>
                        <th scope="col" class="date">날짜</th>
                    </tr>
                </thead>
                <tbody>
                    <% if(boards == null || boards.length ==0){ %>
                    <tr>
                        <td colspan="2">There is no data to show :(</td>
                    </tr>
                    <% } %> <% boards.forEach(function(board){ %>
                    <tr>
                        <td>
                            <a href="/boards/<%= board._id %>"><div class="ellipsis"><%= board.title %></div></a>
                        </td>
                        <td class="author">
                            <div class="ellippsis"><%= board.author?board.author.nickname:""%></div>
                        </td>

                        <td class="date">
                            <span data-date="<%= board.createdAt %>"></span>
                        </td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>

            <div class="row mb-3">
                <div class="col-2">
                    <% if(isAuthenticated){ %>
                    <a class="btn btn-primary" href="/boards/new">글쓰기</a>
                    <% } %>
                </div>

                <nav class="col-8">
                    <% 
                      var offset = 2;
                      var previousBtnEnabled = currentPage>1;
                      var nextBtnEnabled = currentPage < maxPage;
                    %>


                    <ul class="pagination pagination-sm justify-content-center align-items-center h-100 mb-0">
                        <li class="page-item <%= previousBtnEnabled?'':'disabled' %>">
                            <a class="page-link" href="/boards?page=<%= currentPage-1 %>&limit=<%= previousBtnEnabled?'':'tabindex=-1' %>">«</a>
                        </li>
                        <% for(i=1; i<=maxPage; i++){ %> <% if(i==1 || i==maxPage || (i>=currentPage-offset && i<=currentPage+offset ) ){ %>
                        <li class="page-item <%= currentPage==i?'active':'' %>"><a class="page-link" href="/boards?page=<%= i %>&limit=<%= limit %>"><%= i %></a></li>
                        <% } else if(i==2 || i==maxPage-1){ %> 
                            <li><a class="page-link">...</a></li> 
                            <% } %>
                         <% } %>
                         <li class="page-item <%= nextBtnEnabled?'':'disabled' %>">
                        <a class="page-link" href="/boards?page=<%= currentPage+1 %>&limit=<%= limit %>" <%= nextBtnEnabled?'':'tabinde=-1' %>  >»</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <form action="/boards" method="get">
                <div class="form-row">
                    <div class="from-group col-3">
                        <label>Show</label>
                        <select name="limit" class="custom-select" onchange="this.parentElement.parentElement.parentElement.submit()">
                        <option value="5" <%= limit==5?'selected':'' %>>5 boards</option>
                        <option value="10" <%= limit==10?'selected':'' %>>10 boards</option>
                        <option value="20" <%= limit==20?'selected':'' %>>20 boards</option>
                        </select>
                    </div>
                </div>
            </form>

        </div>
    </body>
</html>
